doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    block scripts
      link(href='css/style.css' rel='stylesheet')

  body
    header
      section
        
    block main
      
    footer
      section
        block scripts
          script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
          script(src='js/main.js')
