doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    block scripts
      link(href='assets/style.css' rel='stylesheet')
      script(src='assets/main.js')

  body
    header
      section
        
    block main
      
    footer
      section
        h2 I'm the footer
        block scripts
          script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
