doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    block scripts
      link(href='style.css' rel='stylesheet')
  body
    header
      section
        
    block main
      
    footer
      section
        h2 I'm the footer
        block scripts
          script(src='jquery.js')
