extends partials/layout

//- main heading
block main
  h1= message
  ul
    each val in users
      li=val.fn + ':' + val.em

  if errors
    h3 There was an errors
    ul
      each error in errors
        li=error.msg
  else
    h3 No error detected
