extends partials/layout

//- main heading
block main
  h1= message
  ul
    each val in users
      li=val.fn
  
  h2 add customer
  form(method="POST" action="/users/add")
    label First name
    br
    input(type="text" name="firstName")
    br
    input(type="submit" value="submit")
    br
