extends partials/layout

//- main heading
block main
  h1= message
  ul
    each val in users
      li.removeUser(data-id=val.id)=val.fn+' '+val.ln+' :   '+val.em
        a(href="#") delete
        
  h2 add customer
  form(method="POST" action="/users/add")
    label First name
    input(type="text" name="firstName")
    br
    label Last name
    input(type="text" name="lastName")
    br
    label Email
    input(type="email" name="email")
    br
    input(type="submit" value="submit")
    br

  if errors
    h3 There was an errors
    ul
      each error in errors
        li=error.msg
  else
    h3 No error detected
